/*Estilos generales*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-color: none;
    font-size: 62.5%;
    background-image: url(../img/fondo.jpg);
    overflow: visible;

    
}

h1{
    color:#dd1009;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    font-size: 10rem;
    margin: 1.5rem;
    padding: 1rem;
}

header{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
        
}

li a{
    text-decoration:none;  
}

a :hover{
     color: #dd1009;
}


img{
    width: 250px;
    margin: 10px;
  }

footer{
    font-size: 5rem;
    font-style: normal; 
    display: flex;
    justify-content: flex-end;
}

main .hero__section{
    display: flex;
   justify-content: space-around;
   margin-top: 8rem;    
   }



/*Estilos atravez de clases y selectores compuestos*/

.hero__derecho{
    display: flex;

}

.hero__izquierdo {
    font-size: 2rem;
    background-color:#e8e8e4;
    border: solid;
    border-style: double;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.subtitutlo__pasta{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}


.whatsapp__pasta{
    border: 4px solid black;
    width: fit-content;
    margin: 10px;
    padding: 20px;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction:column ;
    align-items: baseline;
    align-content: center;
}

.whatsapp__caja{
    margin: 15px 20px;
    padding: 20px;
    border: solis black;
    display: flex;
}

.btn{
    font-size: 3.5rem;
    border-width: 0.5rem;
    border: black solid;
    
}


.header__barrahome{
    width: auto;
    margin: 30px;
}

.div_subtitulo_Fettuccini{
    display: flex;
    justify-content: space-around;
       
}

.div_subtitulo_noquis{
    display: flex;
    justify-content:center;
    
}

.div_subtitulo_Sorrentinos{
    display: flex;
    flex-direction:column-reverse;
    align-items:center;  
}

.div_subtitulo_Raviolon{
    display: flex;
    justify-content: center;
    align-items:center;
       
}

.subtitutlo__pasta{
    display: flex;
  justify-content: center;
    font-size: 15rem;
}


.ul__promos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
}